## https://www.sonysonpo.co.jp/fire/

| Resource | Type | Desktop | Mobile | Goal | Result |
| --- | --- | --- | --- | --- | --- |
| images | weight | 188854 | 176922 | false | false |
| images | requests | 32 | 33 | false | false |
| js | weight | 244923 | 256032 | false | false |
| js | requests | 11 | 14 | false | false |
| css | weight | 35483 | 35528 | true | true |
| css | requests | 4 | 4 | false | false |
| html | weight | 3259019 | 3263656 | false | false |
| html | requests | 10 | 10 | false | false |
| thirdparty | weight | 695765 | 43249 | false | false |
| thirdparty | requests | 69 | 46 | false | false |
| total | weight | 4452612 | 3803973 | false | false |
| total | requests | 128 | 109 | false | false |

## https://www.sonysonpo.co.jp/auto/

| Resource | Type | Desktop | Mobile | Goal | Result |
| --- | --- | --- | --- | --- | --- |
| images | weight | 222539 | 620657 | false | false |
| images | requests | 14 | 46 | false | false |
| js | weight | 205305 | 216280 | false | false |
| js | requests | 17 | 19 | false | false |
| css | weight | 80623 | 80695 | false | false |
| css | requests | 6 | 6 | false | false |
| html | weight | 346465 | 332446 | false | false |
| html | requests | 1 | 1 | true | true |
| thirdparty | weight | 1332989 | 301577 | false | false |
| thirdparty | requests | 204 | 173 | false | false |
| total | weight | 2202205 | 1565948 | false | false |
| total | requests | 243 | 246 | false | false |